<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse magni aut assumenda sit corporis cumque omnis eligendi eaque laudantium dolorum.</p>
    </div>
</section>



